@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
a:link {
  color: inherit; /* no blue default link color */
  text-decoration: none;
}

a:visited {
  color: inherit; /* no purple visited links */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400, 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(185, 75%, 39%);
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -180px -150px, 200px 350px;
  background-size: 100%;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 150px 20px;
  border-radius: 16px;
  width: 50em;
  height: auto;
}

img.bg {
  display: flex;
  max-width: 100%;
  height: auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  order: -2;
}

img.profile {
  border-radius: 50px;
  border: solid #FFFFFF 5px;
  max-width: 90px;
  order: -1;
  align-self: center;
  z-index: 1;
  position: absolute;
  top: 240px;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  margin-right: 4px;
}

h2 {
  margin-left: 4px;
}

h1, h2 {
  font-size: 0.95em;
}

h2, h3, p, hr {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
}

h3 {
  font-size: 0.8em;
  margin: 0;
}

hr {
  order: 0;
  width: 100%;
  opacity: 30%;
  margin: 25px 0 0 0;
}

div.stats {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

div.l-stat, div.center-stat, div.r-stat {
  display: flex;
  flex-direction: column;
  margin: 0;
}

p {
  font-size: 0.6em;
  letter-spacing: 0.2em;
  margin: -20px 0 30px 0;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 0.08em;
}

h4, p {
  order: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.5em;
  position: fixed;
  bottom: 10px;
  width: 100%;
  margin: 20px;
}

@media screen and (max-width: 320px) {
  body {
    background-position: -140px -120px, 150px 300px;
  }
  img.profile {
    max-width: 70px;
  }
  h1, h2 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 0.7em;
  }
  h4 {
    font-size: 1em;
  }
  p {
    font-size: 0.5em;
  }
}
@media screen and (min-width: 425px) {
  body {
    background-size: 90%;
  }
  img.profile {
    top: 260px;
  }
}
@media screen and (min-width: 768px) {
  body {
    background-size: 80%;
    background-position: -250px -120px, 400px 300px;
  }
  section {
    max-width: 375px;
  }
  h1, h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
  }
  h4 {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1024px) {
  body {
    height: 100svh;
    background-size: 70%;
    background-position: -250px -250px, 500px 500px;
  }
  section {
    max-width: 375px;
  }
  img.profile {
    top: 330px;
  }
  h1, h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.7em;
  }
  footer {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-size: 80%;
    background-position: -500px -450px, 650px 500px;
  }
  img.profile {
    top: 390px;
  }
}

/*# sourceMappingURL=output.css.map */
